<!DOCTYPE html>
<html ng-app="MovieApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ngApp/app.js"></script>
    <script src="~/Scripts/ngApp/movie.js"></script>
    <script src="~/Scripts/ngApp/movieListController.js"></script>
</head>
<body>

    <div class="container">
        <ng-view></ng-view>
    </div>

</body>
</html>
