<!DOCTYPE html>
<html ng-app="MovieApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ngApp/app.js"></script>
    <script src="~/Scripts/ngApp/movie.js"></script>
    <script src="~/Scripts/ngApp/person.js"></script>
    <script src="~/Scripts/ngApp/movieListController.js"></script>
    <script src="~/Scripts/ngApp/movieAddController.js"></script>
    <script src="~/Scripts/ngApp/movieDetailsController.js"></script>
    <script src="~/Scripts/ngApp/movieService.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <a href="#/" class="btn btn-link">Home</a>
            <a href="#/movie/create" class="btn btn-link">Add Movie</a>
        </div>

        <div class="row">
            <ng-view></ng-view>
        </div>
    </div>

</body>
</html>
